In this notebook, I use the python api to scrape coffeeshop data from Yelp

In [19]:
import requests
import json
import pandas as pd

In [2]:
api_key = 'sg_yNfXjapD7bhpfSdzBO9hQdlueM-fN-vqhejxBE7c-KMWuFK-5_pTktl02IMtqm-AhImmAGFTRkCefl_xft8953TVwzJCnyVzKGRSmbCLMuNCxUm37sdpH07fYXnYx'
headers = {'Authorization':'Bearer %s' % api_key}

A simple example

In [85]:
url = 'https://api.yelp.com/v3/businesses/search'
params = {'categories':'coffee','latitude':'40.717254','longitude':'-73.995615','limit':'50','offset':'40','radius':'300'}
params2 = {'categories':'coffee','latitude':'40.717254','longitude':'-73.995615','limit':'50','offset':'35','radius':'300'}

In [86]:
req=requests.get(url,params=params,headers=headers)

In [87]:
parsed = json.loads(req.text)
len(parsed['businesses'])

0

In [16]:
req2=requests.get(url,params=params2,headers=headers)
parsed = json.loads(req.text)
len(parsed["businesses"])

39

In [25]:
parsed["businesses"]

[{'id': 'K5OWsf2u4GulpkW2-QLHrg',
  'alias': 'lucky-seven-bakery-new-york',
  'name': 'Lucky Seven bakery',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/sbGvfurzFpPrQw8leWv6iw/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/lucky-seven-bakery-new-york?adjust_creative=CGRkejdGiNtvX-lhcOFUZQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=CGRkejdGiNtvX-lhcOFUZQ',
  'review_count': 1,
  'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'},
   {'alias': 'dimsum', 'title': 'Dim Sum'},
   {'alias': 'bakeries', 'title': 'Bakeries'}],
  'rating': 4.0,
  'coordinates': {'latitude': 40.71507, 'longitude': -73.99746},
  'transactions': [],
  'location': {'address1': '47 Bayard St',
   'address2': '',
   'address3': None,
   'city': 'New York',
   'zip_code': '10013',
   'country': 'US',
   'state': 'NY',
   'display_address': ['47 Bayard St', 'New York, NY 10013']},
  'phone': '',
  'display_phone': '',
  'distance': 287.12232459034004},
 {'id': '-oEU5Pv8UxWc4KTaVB8SgQ',
  'alias': 'golden-carriage-bakery-new-york',
  'name': 'Golden Carriage Bakery',
  'image_url': '',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/golden-carriage-bakery-new-york?adjust_creative=CGRkejdGiNtvX-lhcOFUZQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=CGRkejdGiNtvX-lhcOFUZQ',
  'review_count': 1,
  'categories': [{'alias': 'bakeries', 'title': 'Bakeries'},
   {'alias': 'coffee', 'title': 'Coffee & Tea'}],
  'rating': 2.0,
  'coordinates': {'latitude': 40.71735, 'longitude': -73.99457},
  'transactions': [],
  'price': '$$',
  'location': {'address1': '79 Chrystie St',
   'address2': '',
   'address3': '',
   'city': 'New York',
   'zip_code': '10002',
   'country': 'US',
   'state': 'NY',
   'display_address': ['79 Chrystie St', 'New York, NY 10002']},
  'phone': '+12122262272',
  'display_phone': '(212) 226-2272',
  'distance': 90.26435566513197},
 {'id': 'sLyOzMbbGgJ_PY_ppZjjyg',
  'alias': 'jimoto-tea-manhattan-2',
  'name': 'Jimoto Tea',
  'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/6E1s9_NfHZ6iu9oJNTmz7A/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/jimoto-tea-manhattan-2?adjust_creative=CGRkejdGiNtvX-lhcOFUZQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=CGRkejdGiNtvX-lhcOFUZQ',
  'review_count': 2,
  'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}],
  'rating': 2.0,
  'coordinates': {'latitude': 40.71585, 'longitude': -73.9977},
  'transactions': [],
  'price': '$',
  'location': {'address1': '9 Elizabeth St',
   'address2': '',
   'address3': '',
   'city': 'Manhattan',
   'zip_code': '10013',
   'country': 'US',
   'state': 'NY',
   'display_address': ['9 Elizabeth St', 'Manhattan, NY 10013']},
  'phone': '+12129665181',
  'display_phone': '(212) 966-5181',
  'distance': 232.89278985369762},
 {'id': 'KK5l-C1HDubv3a80yYkVuA',
  'alias': 'caffe-bon-greenwich-3',
  'name': 'Caffe Bon',
  'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/POMEcGAx64Bn9Fv8mUROfw/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/caffe-bon-greenwich-3?adjust_creative=CGRkejdGiNtvX-lhcOFUZQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=CGRkejdGiNtvX-lhcOFUZQ',
  'review_count': 2,
  'categories': [{'alias': 'foodtrucks', 'title': 'Food Trucks'},
   {'alias': 'coffee', 'title': 'Coffee & Tea'}],
  'rating': 5.0,
  'coordinates': {'latitude': 41.0280418395996,
   'longitude': -73.6262435913086},
  'transactions': [],
  'price': '$',
  'location': {'address1': '',
   'address2': None,
   'address3': '',
   'city': 'Greenwich',
   'zip_code': '06830',
   'country': 'US',
   'state': 'CT',
   'display_address': ['Greenwich, CT 06830']},
  'phone': '+12035360524',
  'display_phone': '(203) 536-0524',
  'distance': 50184.38168491126}]

In [39]:

def keyindictionary(dictionary,key):
    currdict = dictionary
    for i in range(0,len(key)):
        if type(currdict) is not dict:
            return None
        if key[i] in currdict:
            currdict = currdict[key[i]]
        else:
            return None
    return currdict
    
    
def getkeyvaluelist(dictionary,keys):
    result = []
    for key in keys:
        result.append(keyindictionary(dictionary,key))
    return(result)

In [67]:
businesslist = []
keystrings = ["id","name","alias","is_closed","categories","review_count","price","rating","transactions"]
keys = [[key] for key in keystrings]
keys.extend([['coordinates','latitude'],['coordinates','longitude']])
test = getkeyvaluelist(parsed["businesses"][0],keys)
for business in parsed["businesses"]:
    businesslist.append(getkeyvaluelist(business,keys))

In [68]:
print(parsed["businesses"][0])
print(test)

{'id': 'K5OWsf2u4GulpkW2-QLHrg', 'alias': 'lucky-seven-bakery-new-york', 'name': 'Lucky Seven bakery', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/sbGvfurzFpPrQw8leWv6iw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/lucky-seven-bakery-new-york?adjust_creative=CGRkejdGiNtvX-lhcOFUZQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=CGRkejdGiNtvX-lhcOFUZQ', 'review_count': 1, 'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}, {'alias': 'dimsum', 'title': 'Dim Sum'}, {'alias': 'bakeries', 'title': 'Bakeries'}], 'rating': 4.0, 'coordinates': {'latitude': 40.71507, 'longitude': -73.99746}, 'transactions': [], 'location': {'address1': '47 Bayard St', 'address2': '', 'address3': None, 'city': 'New York', 'zip_code': '10013', 'country': 'US', 'state': 'NY', 'display_address': ['47 Bayard St', 'New York, NY 10013']}, 'phone': '', 'display_phone': '', 'distance': 287.12232459034004}
['K5OWsf2u4GulpkW2-QLHrg', 'Lucky Seven bakery', 'lucky-seven-bakery-new-york', False, [{'alias': 'coffee', 'title': 'Coffee & Tea'}, {'alias': 'dimsum', 'title': 'Dim Sum'}, {'alias': 'bakeries', 'title': 'Bakeries'}], 1, None, 4.0, [], 40.71507, -73.99746]

In [69]:
businessdf = pd.DataFrame(businesslist)
keystrings.extend(['latitude','longitude'])
businessdf.columns = keystrings

In [100]:
#Now get all this businesses up to the limit of 1000 at a particular location.  
#This function makes search requests until there are no additional businesses found in an area
def searchlocalbustolimit(headers,latstring,longstring,radiusstring,catstring):
    
    businesslist = []
    url = 'https://api.yelp.com/v3/businesses/search'
    offset = 0
    params = {'categories':catstring,'latitude':latstring,'longitude':longstring,'limit':'50','offset':str(offset),'radius':radiusstring}
    req = requests.get(url,params=params,headers=headers)
    parsed = json.loads(req.text)
    for business in parsed["businesses"]:
        businesslist.append(getkeyvaluelist(business,keys))
    numreturned = len(parsed['businesses'])
    print('total is' + str(parsed['total']))
    
    while numreturned >= 50:
        offset = offset + 50
        params['offset'] = str(offset)
        req=requests.get(url,params=params,headers=headers)
        parsed = json.loads(req.text)
        numreturned = len(parsed['businesses'])
        for business in parsed["businesses"]:
            businesslist.append(getkeyvaluelist(business,keys))
    
    return businesslist

In [104]:
params = {'categories':'coffee','latitude':'40.717254','longitude':'-73.995615','limit':'50','offset':'40','radius':'300'}

test = searchlocalbustolimit(headers,'40.717254','-73.995615','500','coffee')

total is79

In [105]:
len(test)

79

In [112]:
#Now loop over relevant latitudes and longitudes to get coffeeshops across manhattan
businesslist = []
coords = [[40.717254, -73.995615],
[40.733255, -73.997675],
[40.749058, -73.977247],
[40.766486, -73.994928],
[40.765897, -73.967806],
[40.791899, -73.977591],
[40.778442, -73.953129]
]

for [lat,long] in coords:
    bcurrentloc = searchlocalbustolimit(headers,lat,long,'2000','coffee')
    businesslist.extend(bcurrentloc)

total is609
total is812
total is739
total is504
total is521
total is136
total is232

In [114]:
businessdf = pd.DataFrame(businesslist)
businessdf.columns = keystrings

In [117]:
businessdf.to_csv('mhcoffeeshops_6_4_20.csv')

In [109]:
coords = [[40.717254, -73.995615],

[40.733255, -73.997675],
[40.749058, -73.977247],
[40.766486, -73.994928],
[40.765897, -73.967806],
[40.791899, -73.977591],
[40.778442, -73.953129]
]
for [lat,long] in coords:
    print([lat,long])
    
pd.to_csv()

[40.717254, -73.995615]
[40.733255, -73.997675]
[40.749058, -73.977247]
[40.766486, -73.994928]
[40.765897, -73.967806]
[40.791899, -73.977591]
[40.778442, -73.953129]

In [113]:
len(businesslist)

3553

In [118]:
businessdf.head(3)

,id,name,alias,is_closed,categories,review_count,price,rating,transactions,latitude,longitude
0,lWOkeS-wV4no8qqA9OwwEg,Doughnut Plant,doughnut-plant-new-york-6,False,"[{'alias': 'donuts', 'title': 'Donuts'}, {'ali...",3213,$$,4.5,"[pickup, delivery]",40.716394,-73.988610
1,UZViRVpxNZvOM5KarmbT1g,Sweet Moment,sweet-moment-new-york,False,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",822,$$,4.5,[],40.717630,-73.997140
2,nOCjslrdcKBQQYgD5qUs9Q,Kam Hing Coffee Shop,kam-hing-coffee-shop-new-york-2,False,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",645,$,4.5,[],40.718248,-73.999004